<!doctype html>
{% load forms %}
<head>
    <meta charset="utf-8">
    <title>{{ form.title }}</title>
    <style>
        body {font-family:sans-serif; padding:1em 2em;}
        p {width:50em; clear:both;}
        label {display:block; float:left; width:8em; margin:0 1.2em 1.2em 0;}
        li {list-style-type:none;}
        li label {width:auto; cursor:pointer;}
        .errorlist {color:#f00;}
    </style>
</head>
<body>
    {% bound_form_for form as f %}
    <h1>{{form.title}}</h1>
    {% if form.intro %}<p>{{form.intro}}</p>{% endif %}
    {% if f.is_valid %}
        <p>{{form.response}}</p>
    {% else %}
        <form method="post"{% if f.is_multipart %}
          enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {{ f.as_p }}
            <div style="clear:left;">&nbsp;</div>
            <input type="submit" value="{{ form.button_text }}" />
        </form>
    {% endif %}
</body>
