<!doctype html>
{% load staticfiles %}
{% load forms_builder_tags %}
<head>
    <meta charset="utf-8">
    <title>{{ form.title }}</title>
    <style>
        body {font-family:sans-serif; padding:1em 2em;}
        p {width:50em; clear:both;}
        label {display:block; float:left; width:8em; margin:0 1.2em 1.2em 0;}
        li {list-style-type:none;}
        li label {width:auto; cursor:pointer;}
        .errorlist {color:#f00;}
    </style>
</head>
<body>
    <script type="text/javascript">
        var formWarnings = "{{ form_warnings }}".replace(/&quot;/g,"\"");
        var formRestrictions = "{{ form_restrictions }}".replace(/&quot;/g,"\"");
    </script>
    {% render_built_form form %}
    <script src="{% static 'forms/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'forms/js/main.js' %}"></script>
</body>
