/* tables */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../../img/blue/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../../img/blue/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../../img/blue/desc.png);
}
